*{
    margin:0px;
    padding: 0px;
  }
  /* Navbar container */
  .nav {
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: Arial;
    text-align: center;
  }
  .logo{
    width: 20px;
    height: 20px;
  }
  .img{
    margin-right: 6%;
  
  }
  .navi{
    display: inline-block;
  }
  /* Links inside the navbar */
  .nav a {
    float: left;
    font-size: 16px;
    color: rgb(12, 11, 11);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .menu {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(7, 7, 7);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .nav a:hover, .dropdown:hover .menu {
    background-color: rgb(26, 145, 192);
  }
  
  /* Dropdown content (hidden by default) */
  .drop-con {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .drop-con a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .drop-con a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .drop-con{
    display: block;
  }
    
  .heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
  }
  .heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
  }
  .heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
  }
  .heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
  }
  .container{
    width: 90%;
    margin:0 auto;
    padding: 10px 20px;
  }
  .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-image{
    flex: 1;
    margin-right: 80px;
    overflow: hidden;
  }
  .about-image img{
    width: 600px;
    height: auto;
    display: flex;
    transition: 0.5 ease;
  }
  .about-image:hover img{
    transform: scale(1.2);
  }
  .about-content{
    flex: 1;
  }
  .about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
  }
  .about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
  }
  .about-content .read-more{
    display:inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3 ease; 
  }
  .about-content .read-more:hover{
    background-color: #3e8e41;
  }

  footer{
    background-color: #f0f0f0;
    font-family: Arial;
    position:absolute;
    left: 0;
    display: block;
    padding: 100px 0.30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    width: 2000;
    margin-top: 100px;
  }
  .footer {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-between ;
  }
  .lik{
    flex-basis: 25%;
    padding: 10px;
  }
  .col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
  
  }
  
  .lik h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }
  .email-id{
    width: fit-content;
    border-bottom: 1px solid #7de211;
    margin: 20px 0;
  }
  ul li{
    list-style: none;
    margin-bottom: 12px;
  }
  ul li a{
    text-decoration: none;
    color: #211f1f;
  }
  .social-icons li{
    border-radius: 50%;
    color: #000;
    background: #fff;
    color: pointer;
    
  }
  .fab{
    margin-bottom: 20px;
    font-size: 300%;
  }
  
  hr{
    width: 95%;
    border: 0;
    border-bottom: 1px solid #a61a1a;
    margin: 20px auto;
  }
  .copyright{
    text-align: center;
  }
  .underline{
    width: 100px;
    height: 5px;
    background: #a61a1a;
    position: absolute;
    top: 25px;
    left: 0;
  }
  @media (max-width: 768px){
    .nav content{
        width: 50%;
        position: absolute;
        top: 25px;
        right: 0;
        z-index: 2;  
    }
    .content p{
       display: block;
       margin-top: 10px;
       margin-bottom: 10px;
    }
    .footer{
      width: 50%;
      top: 30px;
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
  }
  