body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; 
  margin: 0;
  padding: 0;
}

h1, h3 {
  text-align: center;
  color: #343a40; 
}

a {
  display: block;
  width: fit-content;
  margin: 20px auto; 
  margin-right: 30px;
  padding: 10px 20px; 
  text-decoration: none;
  border-radius: 5px;
}

.table {
  margin: 20px auto;
  width: 120px auto;
  margin-right: 120px ;
  margin-left: 120px ;
  background-color: #343a40;

}


